.fighthighlights{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap:2em;
    margin: 50px;


}

.fighthighlights > div{
    background-color:#FDB31E;;
    height: 100%;
    text-align: center;
    color: #000000;

}