body{
    background-color: #000000;
    color:#fff;
}


#entireNav{
    background-color: blue;
    height: 90px;
}

#entireNav button span{
    color:#fff;
}
#entireNav button span:hover{
    color: #000000;
}

#mainnavlink{
    color:#fff;
}
#mainnavlink:hover{
    color: #000000;;
}

#navbarDropdown{
    color:#fff;
}
#navbarDropdown:hover{
    color: #000000;;
}


.dropdown-item{
    color: #000000;

}

.dropdown-item:hover{
    color:blue;
}


#jumbotron{
    background-color: blue;
    color: #fff;
    margin: 50px 90px 0px 90px;
}


#carouselExampleControls{
    margin:100px;
    border: 2px solid blue;
}


.upcomingfight{
    text-align: center;
    margin: 30px auto -70px auto;
    background-color:blue;
    width:15%;
}


#map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}


#map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#gymhours{
    border: 2px solid blue;
    padding: 50px;

}

#gymhours .row{
    margin-top:40px;
    bargin-bottom:40px;
}

#gymhours h6{
    border-bottom: 2px solid blue;
    text-align: center;
}

#gymhourstable tbody tr td{
    padding-top: 20px;
    text-align: center;

}

.wintickets{
    background-color: blue;
    margin:80px;
    border: 2px solid blue;
    padding: 50px;
}

.wintickets form{
    background-color: #fff;
    color:#000000;
}

.wintickets h2{
    margin-right: auto;
    margin-left: auto;
}

#fightertable{
    background-color:#fff;
   padding:50px;
}


.nolimitwarriors{
    text-align: center;
}

#fighthighlights{
    background-color: blue;
    margin-top: 50px;
    margin-bottom: 50px;
}

#fighthighlights h4{
    text-align: center;
}



.footer{
    background: blue;
    color:#fff;
    margin-top:40px;
}

.footer ul li{
    list-style: none;
} 

.footer ul li a{
    color:#fff;
    text-decoration: none;
}

.footer ul li a:hover{
    color:#000000;
}